@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="Endpoint" asp-action="Index">Test endpointa</a>
</div>
